@model CarProControl.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do funcionario</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-default" asp-action="Index">Back to List</a>
</div>
